@media (max-width: 768px) {
    .iconbar{
        width: 100vw;
        display: flex;
    }
    .iconbar > a{
        display: inline;
        float: left;
        width: 20%;
    }
}
@media (min-width: 769px) {
    .iconbar{
        width: fit-content;
    }
}
*{
    margin: 0;
}
.iconbar{
    background-color: #555;
}
.iconbar > a{
    display: block;
    text-align: center;
    padding: 1rem;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.5rem;
}
.iconbar > a:hover{
    background-color: #000;
}
.active{
    background-color: #04AA6D;
}
#menu{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu > div{
    width: 1.5rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}
.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar3{
    transform: translate(0, -11px) rotate(45deg);
}
.change .bar3{
    opacity: 0;
}